In [6]:
print("manoj")
print("hello")

manoj
hello

In [7]:
user_input = input("enter the number:")
print("user_input")

enter the number:21
user_input

In [8]:
num = float(input("enter the number:"))
if num > 0:
  print("positive number")
elif num < 0:
  print("negative number")
else:
  print("zero")

enter the number:21
positive number

In [9]:
a = float(input("Enter first number: "))
b = float(input("Enter second number: "))
c = float(input("Enter third number: "))

if a >= b and a >= c:
    print("Largest number is:", a)
elif b >= a and b >= c:
    print("Largest number is:", b)
else:
    print("Largest number is:", c)

Enter first number: 22
Enter second number: 22
Enter third number: 11
Largest number is: 22.0

In [10]:
# varbiable and data types
my_integer = 10
my_float = 3.24
my_string = "Manoj"
#print the values and types of the variable
my_boolean = True
print("Value of my_integer:", my_integer, "| Type:", type(my_integer))
print("Value of my_float:", my_float, "| Type:", type(my_float))
print("Value of my_string:", my_string, "| Type:", type(my_string))
print("Value of my_boolean:", my_boolean, "| Type:", type(my_boolean))

Value of my_integer: 10 | Type: <class 'int'>
Value of my_float: 3.24 | Type: <class 'float'>
Value of my_string: Manoj | Type: <class 'str'>
Value of my_boolean: True | Type: <class 'bool'>

In [11]:
var1 = 10
var2 = 20
print(F"before swapping: var1 = {var1}, var2 = {var2}")
var1, var2 = var2, var1
print(F"after swapping: var1 = {var1}, var2 = {var2}")

before swapping: var1 = 10, var2 = 20
after swapping: var1 = 20, var2 = 10

In [14]:
def celsius_to_fahrenheit(celsius):
    fahrenheit = (celsius * 9/5) + 32
    return fahrenheit
    #Get input from the user
    celsius = float(input("Enter temperature in Celsius: "))
    #Convert and print the result
    fahrenheit_temp = celsius_to_fahrenheit(celsius)
    print(f"{celsius} degrees Celsius is equal to {fahrenheit_temp} degrees Fahrenheit")

In [13]:
my_variable = 10
if isinstance(my_variable, int):
  print("my_variable is an integer")
else:
  print("my_variable is not an integer")
  #check if the variable is a string
  if isinstance(my_variable, str):
    print("my_variable is a string")
  else:
    print("my_variable is not a string")

my_variable is an integer

In [16]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
#perform arithmetic operations
addition  = num1 +num2
subtraction = num1 * num2
#check for divison by zero before performing divison
if num2 !=0:
  divison = num1 / num2
else:
    divison = "cannot divide by zero"
    #print the results
    print(f"{num1} + {num2} = {addition}")
    print(f"{num1} - {num2} = {subtraction}")
    print(f"{num1} / {num2} = {divison}")

Enter first number: 21
Enter second number: 44

In [17]:
num1 = 15
num2 = 10
#demostrate equal to ==
print(f"{num1} == {num2} is {num1 == num2}")
#not equal to !=
print(f"{num1} != {num2} is {num1 != num2}")
#greater than >
print(f"{num1} > {num2} is {num1 > num2}")
#less than <
print(f"{num1} < {num2} is {num1 < num2}")
#greater than or equal to >=
print(f"{num1} >= {num2} is {num1 >= num2}")
#less than or equal to <=
print(f"{num1} <= {num2} is {num1 <= num2}")

15 == 10 is False
15 != 10 is True
15 > 10 is True
15 < 10 is False
15 >= 10 is True
15 <= 10 is False